<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orlov_logger>
            <log>
                <action_pre_dispatch_enabled>0</action_pre_dispatch_enabled>
            </log>
        </orlov_logger>
    </default>
</config>